.login-container {
  background-color: #fff;
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #0c2340;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

.login-container button {
  background-color: #0c2340;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.login-container button:hover {
  background-color: #3498db;
}
